In [3]:
import numpy as np
import pandas as pd

In [23]:
#Importing libraries
import pandas as pd
df = pd.DataFrame({'A':[1,2,3,4,5],      # Sample dataframe for testing purpose
    'B':[11,22,33,44,55],
    'C':[111,222,333,444,555]
})
df.head()
# We want to color cell at <3,2>. Coloring the background red, and text color Violet
# Custom function to color the desired cell
def styling_specific_cell(x,row_idx,col_idx):
    color = 'background-color: red; color: violet'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] = color
    return df_styler
idx_r = 3   # Row index of cell to color
idx_c = 2   # Column index of cell to color 
# Pass the row and column index as kwargs
df.style.apply(styling_specific_cell, row_idx = idx_r, col_idx = idx_c, axis = None)  # Axis set to None to work on entire dataframe

In [47]:
def styling_specific_cell(x,row_idx,row_idx2, col_idx):
    color = 'background-color: red; color: violet'
    color2 = 'background-color: blue; color: violet'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] = color
    df_styler.iloc[row_idx2, col_idx] = color2
    return df_styler

In [ ]:
def styling_specific_cell(x, row_idx, row_idx2):
    color = 'background-color: red; color: violet'
    color2 = 'background-color: blue; color: violet'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] = color
    df_styler.iloc[row_idx2, col_idx] = color2
    return df_styler

In [48]:
df.style.apply(styling_specific_cell, row_idx = idx_r, row_idx2 = idx_r+1, col_idx = range(3), axis = None)  # Axis set to None to work on entire dataframe

In [44]:
df

   A   B    C
0  1  11  111
1  2  22  222
2  3  33  333
3  4  44  444
4  5  55  555