In [1]:
from utilities_IGNOBEL import *
with open('credential.json','r') as f:
    cred = json.load(f)
cluster = MongoClient(cred['cred'])
db = cluster['Game']
collection = db['Players']
import glob 
import re

giornata = 19
F,S,G,C,V,M,CI = 0,0,0,0,0,0,0

In [27]:
"""Usare queste rose se FG non ha quelle corrette, e.g. durante il mercato"""
#RoseSS = rose_complete()

#RoseFG = rose()

#labels = RoseFG.columns
#Rose = RoseSS[labels]

'Usare queste rose se FG non ha quelle corrette, e.g. durante il mercato'

In [28]:
#infortunati(giornata=1) #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A per la giornata indicata

In [29]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [30]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [2]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
try:
    V = bonus_panchina(giornata) 
    print(V)
except:
    print('try again')
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

                  PDG 1908  MAINZ NA GIOIA  XYZ  PALLA PAZZA  \
Bonus Panchinari       3.0               0    0            0

                  IGNORANZA EVERYWHERE  SOROS FC  AS 800A  I DISEREDATI
Bonus Panchinari                     0       1.5      0.5           2.0

In [3]:
try:
    G = goal_subiti(giornata)
    print(G)
except:
    print('try again')
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

             PDG 1908  MAINZ NA GIOIA  XYZ  PALLA PAZZA  IGNORANZA EVERYWHERE  \
Goal subiti         4               1    2            1                     0

             SOROS FC  AS 800A  I DISEREDATI
Goal subiti         1        0             2

In [17]:
try:
    M = modificatore(giornata) 
    print(M)
except:
    print('try again')
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

              PDG 1908  MAINZ NA GIOIA  XYZ  PALLA PAZZA  \
Modificatore         0               0    0            0

              IGNORANZA EVERYWHERE  SOROS FC  AS 800A  I DISEREDATI
Modificatore                   0.5       0.5      1.0           0.5

In [5]:
try:
    C = cartellini(giornata)
    print(C)
except:
    print('try again')

           PDG 1908  MAINZ NA GIOIA  XYZ  PALLA PAZZA  IGNORANZA EVERYWHERE  \
C. gialli         1               1    2            2                     1
C. rossi          0               0    0            0                     0

           SOROS FC  AS 800A  I DISEREDATI
C. gialli         0        0             1
C. rossi          0        0             0

In [10]:
try:
    CI = count_inf(infortunati(giornata), rose()) #restituisce il numero di infortunati in ogni rosa
    ##NOTA: usa Rose definito sopra nel caso in cui FG non ha le rose corrette e quindi serve usare lo spreadsheet
    print(CI)
except:
    print('try again')

                 XYZ  MAINZ NA GIOIA  I DISEREDATI  PALLA PAZZA  AS 800A  \
tot Infortunati    4               2             4            6        4

                 PDG 1908  SOROS FC  IGNORANZA EVERYWHERE
tot Infortunati         5         2                     3

In [11]:
try:
    F = fantapunti_fatti(giornata)
    print(F)
except:
    print('try again')

                  PDG 1908  MAINZ NA GIOIA   XYZ  PALLA PAZZA  \
Fantapunti Fatti     65.75           67.25  64.0         71.0

                  IGNORANZA EVERYWHERE  SOROS FC  AS 800A  I DISEREDATI
Fantapunti Fatti                 69.75      68.0     73.5         67.75

In [19]:
try:
    S = fantapunti_subiti(giornata)
    print(S)
except:
    print('try again')

                   PDG 1908  MAINZ NA GIOIA   XYZ  PALLA PAZZA  \
Fantapunti Subiti     67.25           65.75  71.0         64.0

                   IGNORANZA EVERYWHERE  SOROS FC  AS 800A  I DISEREDATI
Fantapunti Subiti                  68.0     69.75    67.75          73.5

In [20]:
#tot = IGNOBEL_tot(giornata=6) # a causa di ritardi di connessione, potrebbe dare errore le prime volte: in tal caso far girare nuovamente
output = pd.concat([F,S,G,C,V,M,CI], axis = 0).T #enormi problemi di connessione, quindi ho dovuto dividere in singole tasks
tot = output.T
tot

,PDG 1908,MAINZ NA GIOIA,XYZ,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A,I DISEREDATI
Fantapunti Fatti,65.75,67.25,64.0,71.0,69.75,68.00,73.50,67.75
Fantapunti Subiti,67.25,65.75,71.0,64.0,68.00,69.75,67.75,73.50
Goal subiti,4.00,1.00,2.0,1.0,0.00,1.00,0.00,2.00
C. gialli,1.00,1.00,2.0,2.0,1.00,0.00,0.00,1.00
C. rossi,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
Bonus Panchinari,3.00,0.00,0.0,0.0,0.00,1.50,0.50,2.00
Modificatore,0.00,0.00,0.0,0.0,0.50,0.50,1.00,0.50
tot Infortunati,5.00,2.00,4.0,6.0,3.00,2.00,4.00,4.00

In [16]:
#G = pd.read_pickle("Dati_storici/Giornata_22.pkl")
#G

In [21]:
def df_to_dict(df):
    as_list=df.index.tolist()
    idxG = as_list.index('C. gialli')
    idxR = as_list.index('C. rossi')
    as_list[idxG] = 'C_gialli'
    as_list[idxR] = 'C_rossi'
    df.index=as_list
    temp = dict(df)
    temp_2 = {}
    for key, element in temp.items():
        temp_2[key] = dict(element)
    return temp_2

In [22]:
def get_matchday_dict(k):
    files = glob.glob('Dati_storici/*.pkl')
    dict_matchday={}
    for file in files:
        num = re.findall('_\d+.',file)[0][1:-1] 
        dict_matchday[int(num)]=file
    df=pd.read_pickle(dict_matchday[k])
    return df_to_dict(df)

In [23]:
def create_results_post(season, matchday, df, post_to_mongo=False):
    idx=season+'_G'+f'{matchday:02}'
    post = {'_id': idx,
     'matchday':matchday,
     'season':season,
     'results': df_to_dict(df)
    }
    if post_to_mongo:
        coll_res = db['Results']
        if len(list(coll_res.find({'_id': idx})))>0:
            coll_res.delete_one({'_id': idx})
        coll_res.insert_one(post)
        print('Results added to MongoDB')
    else:    
        return post

In [24]:
from time import sleep
#giornata=7

#tot = IGNOBEL_tot(giornata)

while False:
    try:
        tot = IGNOBEL_tot(giornata)
        break
    except:
        print('retrying')
        sleep(3)
        continue
        
create_results_post('2021-22', giornata, tot, post_to_mongo=True)
tot


#tot.to_pickle("Dati_storici/Giornata_"+str(giornata)+".pkl")
#crea 8 dataframe individuali con i dati aggiornati fino alla giornata indicata
#aggiorna_database(giornata)

Results added to MongoDB

,PDG 1908,MAINZ NA GIOIA,XYZ,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A,I DISEREDATI
Fantapunti Fatti,65.75,67.25,64.0,71.0,69.75,68.00,73.50,67.75
Fantapunti Subiti,67.25,65.75,71.0,64.0,68.00,69.75,67.75,73.50
Goal subiti,4.00,1.00,2.0,1.0,0.00,1.00,0.00,2.00
C_gialli,1.00,1.00,2.0,2.0,1.00,0.00,0.00,1.00
C_rossi,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00
Bonus Panchinari,3.00,0.00,0.0,0.0,0.00,1.50,0.50,2.00
Modificatore,0.00,0.00,0.0,0.0,0.50,0.50,1.00,0.50
tot Infortunati,5.00,2.00,4.0,6.0,3.00,2.00,4.00,4.00

In [5]:
#voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [7]:
storico_individuale(nome = 'luca', giornata = 1) 
#crea un dataframe individuale con le informazioni utili per gli IGNOBEL, con i dati fino alla giornata scelta
#i dati vengono pescati dai pkl contenuti nella cartella Dati_storici

0 gg     pf    ps gs  c  pan mod inf  nome
1  1  72.25  70.5  0  6  1.5   0   0  luca

In [2]:
#include svincolati
#ST = stats_by_team_full(primavera = True)
ST_INFO = stats_by_team_NO_INFO(stagione = '2021-22',primavera = True) #NO PERSONAL DATA
missing_pl = info_missing_players(collection, ST_INFO) #missing players from our db

100% (16 of 16) |########################| Elapsed Time: 0:00:21 Time:  0:00:21

In [40]:
"""database=ST_INFO
missing_ids = find_missing_players(collection, database)
all_pl = []
k=0
while k < len(missing_ids):
    idx = missing_ids[k]
    try:
        infos = personal_info(idx, database)
    except:
        k = k-1
        continue
    dic = {}
    dic['Id'] = idx
    dic['Classe'] = infos[0]
    dic['Eta\''] = infos[1]
    dic['Nome Completo'] = infos[2]
    dic['Nazionalita\''] = infos[3]
    all_pl.append(dic)
    print(k/len(missing_ids))
    k+=1
missing_pl=pd.DataFrame(all_pl, index = missing_ids)"""

"database=ST_INFO\nmissing_ids = find_missing_players(collection, database)\nall_pl = []\nk=0\nwhile k < len(missing_ids):\n    idx = missing_ids[k]\n    try:\n        infos = personal_info(idx, database)\n    except:\n        k = k-1\n        continue\n    dic = {}\n    dic['Id'] = idx\n    dic['Classe'] = infos[0]\n    dic['Eta''] = infos[1]\n    dic['Nome Completo'] = infos[2]\n    dic['Nazionalita''] = infos[3]\n    all_pl.append(dic)\n    print(k/len(missing_ids))\n    k+=1\nmissing_pl=pd.DataFrame(all_pl, index = missing_ids)"

In [3]:
missing_pl

,Id,Classe,Eta',Nome Completo,Nazionalita'
4658,4658,02/05/1998,24,Ikonè Jonathan,"Francia, Repubblica Democratica del Congo"
5714,5714,25/11/1996,26,Gondo Cedric,"Costa d'Avorio, Italia"
2628,2628,22/02/1987,35,Romero Sergio,"Argentina, Italia"
4701,4701,16/08/1999,23,Cuisance Michael,Francia
5748,5748,25/10/1997,25,Hefti Silvan,Svzzera
5750,5750,28/11/1999,23,Ostigard Leo,Norvegia
5718,5718,24/01/2002,20,Viti Mattia,Italia
5747,5747,07/06/1999,23,Ruan Tressoldi,Brasile
5728,5728,19/01/2003,19,Afena-Gyan Felix,Ghana
5719,5719,09/03/2002,20,Asllani Kristjan,Albania
5716,5716,20/01/2002,20,Podgoranu Suf,"Israele, Romania"
5713,5713,04/12/2002,20,Neri Filippo,Italia
2249,2249,29/02/1992,30,Santurro Antonio,Italia
5739,5739,12/06/2002,20,De Winter Koni,Belgio
5722,5722,18/01/1999,23,Nguiamba Aurelien,"Francia, Camerun"
5725,5725,14/03/2000,22,Kone Ben Lhassine,Costa d'Avorio

In [4]:
ST_INFO.rename(columns = {'Qt. A': 'Qt_A','Qt. I': 'Qt_I'}, inplace=True)
ST_INFO=ST_INFO.drop(columns='Diff.')
ST_INFO.to_pickle("Statistiche_giocatori.pkl")
missing_pl.to_pickle('Missing_Players.pkl')
ST_INFO

,Id,R,Nome,Squadra,Pg,Mv,Mf,Gf,Gs,Rp,...,R+,R-,Ass,Amm,Esp,Au,Qt_A,Qt_I,Nome Squadra,Allenatore
2841,2841,A,VLAHOVIC,Fiorentina,19,6.63,9.21,11,0,0,...,5,0,2,2,0,0,44,34,SOROS FC,musci8
785,785,A,IMMOBILE,Lazio,15,6.60,9.07,10,0,0,...,3,1,2,2,0,0,42,38,PALLA PAZZA,nanni
608,608,A,ZAPATA D.,Atalanta,16,6.62,8.50,6,0,0,...,3,0,4,2,0,0,39,33,PDG 1908,pietro
531,531,A,BERARDI,Sassuolo,17,6.62,8.21,6,0,0,...,2,0,5,4,0,0,37,31,I DISEREDATI,emiliano
2764,2764,A,MARTINEZ L.,Inter,16,6.47,8.16,8,0,0,...,3,2,2,4,0,0,35,32,MAINZ NA GIOIA,franky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,5500,A,CANCELLIERI,Verona,3,5.83,5.83,0,0,0,...,0,0,0,0,0,0,1,1,svincolato,None
2654,2654,A,CETER,Cagliari,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,1,2,svincolato,None
5360,5360,A,VERGANI,Salernitana,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,1,1,svincolato,None
4483,4483,A,CANGIANO,Bologna,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,1,1,svincolato,None
2073,2073,A,RAGUSA,Verona,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,1,1,svincolato,None

In [5]:
df=pd.read_pickle('Missing_Players.pkl')
df

,Id,Classe,Eta',Nome Completo,Nazionalita'
4658,4658,02/05/1998,24,Ikonè Jonathan,"Francia, Repubblica Democratica del Congo"
5714,5714,25/11/1996,26,Gondo Cedric,"Costa d'Avorio, Italia"
2628,2628,22/02/1987,35,Romero Sergio,"Argentina, Italia"
4701,4701,16/08/1999,23,Cuisance Michael,Francia
5748,5748,25/10/1997,25,Hefti Silvan,Svzzera
5750,5750,28/11/1999,23,Ostigard Leo,Norvegia
5718,5718,24/01/2002,20,Viti Mattia,Italia
5747,5747,07/06/1999,23,Ruan Tressoldi,Brasile
5728,5728,19/01/2003,19,Afena-Gyan Felix,Ghana
5719,5719,09/03/2002,20,Asllani Kristjan,Albania
5716,5716,20/01/2002,20,Podgoranu Suf,"Israele, Romania"
5713,5713,04/12/2002,20,Neri Filippo,Italia
2249,2249,29/02/1992,30,Santurro Antonio,Italia
5739,5739,12/06/2002,20,De Winter Koni,Belgio
5722,5722,18/01/1999,23,Nguiamba Aurelien,"Francia, Camerun"
5725,5725,14/03/2000,22,Kone Ben Lhassine,Costa d'Avorio