In [1]:
from utilities_IGNOBEL import *

In [3]:
"""Usare queste rose se FG non ha quelle corrette, e.g. durante il mercato"""
#RoseSS = rose_complete()

#RoseFG = rose()

#labels = RoseFG.columns
#Rose = RoseSS[labels]

'Usare queste rose se FG non ha quelle corrette, e.g. durante il mercato'

In [4]:
#infortunati(giornata=1) #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A per la giornata indicata

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [12]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
V = bonus_panchina(giornata=21) 
V
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Bonus Panchinari,0.5,0,0,1.5,0,1.5,0,0

In [35]:
G = goal_subiti(giornata=21)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Goal subiti,1,2,2,0,0,0,0,0

In [36]:
M = modificatore(giornata=21) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Modificatore,0,0.5,0.5,0,1.5,1.5,0,1.5

In [37]:
C = cartellini(giornata=21)
C

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
C. gialli,0,3,2,1,1,0,0,0
C. rossi,1,0,0,0,0,0,0,0

In [38]:
CI = count_inf(infortunati(giornata = 21), rose()) #restituisce il numero di infortunati in ogni rosa
##NOTA: usa Rose definito sopra nel caso in cui FG non ha le rose corrette e quindi serve usare lo spreadsheet
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,1,4,4,1,4,5,2,4

In [39]:
F = fantapunti_fatti(giornata=21)

In [41]:
S = fantapunti_subiti(giornata=21)

In [42]:
#tot = IGNOBEL_tot(giornata=6) # a causa di ritardi di connessione, potrebbe dare errore le prime volte: in tal caso far girare nuovamente
output = pd.concat([F,S,G,C,V,M,CI], axis = 0).T #enormi problemi di connessione, quindi ho dovuto dividere in singole tasks
tot = output.T
tot

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Fantapunti Fatti,64.0,69.0,64.00,71.25,72.75,75.50,67.50,72.75
Fantapunti Subiti,69.0,64.0,71.25,64.00,75.50,72.75,72.75,67.50
Goal subiti,1.0,2.0,2.00,0.00,0.00,0.00,0.00,0.00
C. gialli,0.0,3.0,2.00,1.00,1.00,0.00,0.00,0.00
C. rossi,1.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.5,0.0,0.00,1.50,0.00,1.50,0.00,0.00
Modificatore,0.0,0.5,0.50,0.00,1.50,1.50,0.00,1.50
tot Infortunati,4.0,4.0,1.00,4.00,1.00,4.00,2.00,5.00

In [2]:
tot = IGNOBEL_tot(giornata=25)
tot

,MAINZ NA GIOIA,AS 800A,IGNORANZA EVERYWHERE,PDG 1908,PALLA PAZZA,XYZ,I DISEREDATI,SOROS FC
Fantapunti Fatti,61.00,68.75,71.75,72.00,71.25,65.75,71.75,71.00
Fantapunti Subiti,68.75,61.00,72.00,71.75,65.75,71.25,71.00,71.75
Goal subiti,2.00,0.00,0.00,1.00,2.00,0.00,0.00,0.00
C. gialli,2.00,0.00,1.00,0.00,0.00,1.00,4.00,1.00
C. rossi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,0.00,0.00,1.25,0.00,1.75,0.00,3.00
Modificatore,0.50,0.00,1.50,0.00,0.00,0.50,1.00,0.50
tot Infortunati,4.00,2.00,2.00,3.00,6.00,2.00,5.00,2.00

In [3]:
tot.to_pickle("Dati_storici/Giornata_25.pkl")

In [4]:
G = pd.read_pickle("Dati_storici/Giornata_22.pkl")
G

,PDG 1908,AS 800A,SOROS FC,IGNORANZA EVERYWHERE,PALLA PAZZA,MAINZ NA GIOIA,XYZ,I DISEREDATI
Fantapunti Fatti,72.00,72.25,65.75,71.75,68.50,71.75,75.75,73.25
Fantapunti Subiti,72.25,72.00,71.75,65.75,71.75,68.50,73.25,75.75
Goal subiti,2.00,1.00,3.00,0.00,0.00,1.00,0.00,1.00
C. gialli,1.00,1.00,0.00,1.00,0.00,1.00,1.00,1.00
C. rossi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,2.25,3.50,0.00,1.50,1.00,0.00,3.00
Modificatore,0.50,0.00,0.00,1.50,1.00,0.50,1.50,1.00
tot Infortunati,4.00,4.00,2.00,4.00,1.00,4.00,2.00,4.00

In [5]:
#voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [6]:
storico_individuale(nome = 'luca', giornata = 22) 
#crea un dataframe individuale con le informazioni utili per gli IGNOBEL, con i dati fino alla giornata scelta
#i dati vengono pescati dai pkl contenuti nella cartella Dati_storici

0   gg     pf     ps gs  c   pan  mod inf  nome
1    1  72.25   67.5  0  6     0    0   7  luca
2    2     77  64.25  2  1     0    0   5  luca
3    3   73.5   70.5  1  2  1.75    0   3  luca
4    4     65     65  0  2     3  0.5   4  luca
5    5     66  67.25  2  2     0    0   4  luca
6    6  70.25     71  1  2   1.5  0.5   5  luca
7    7     69  67.25  1  1   1.5    0   4  luca
8    8  69.75  73.75  1  2   0.5    0   3  luca
9    9   66.5   62.5  2  4     1    0   2  luca
10  10  67.25  70.75  1  1     0    1   2  luca
11  11  67.75  69.25  2  1   1.5    0   3  luca
12  12   74.5  72.25  0  2     0  1.5   4  luca
13  13   67.5  73.75  0  2   0.5    1   4  luca
14  14  71.75     73  1  2     0    1   4  luca
15  15     80  68.25  0  3   1.5    1   3  luca
16  16     71  73.25  1  0   1.5    0   1  luca
17  17  63.75     64  3  1     0  0.5   2  luca
18  18   69.5  71.25  2  3   1.5  0.5   3  luca
19  19     69  74.75  1  2  0.25  0.5   2  luca
20  20   65.5  77.25  2  2     0  0.5   1  luca
21  21     64  71.25  2  2     0  0.5   1  luca
22  22  75.75  73.25  0  1     0  1.5   2  luca

In [4]:
#crea 8 dataframe individuali con i dati aggiornati fino alla giornata indicata
aggiorna_database(giornata = 25)

Dati aggiornati fino alla 25 giornata

In [8]:
#scarica le statistiche di ogni giocatori e li incrocia con le rose nel database FPF per associarli ad ogni squadra nella lega
#ST = stats_by_team(primavera = True, personal = True)
#ST.to_pickle("Statistiche_giocatori.pkl")
#ST

In [5]:
#include svincolati
ST = stats_by_team_full(primavera = True)

In [6]:
ST.rename(columns = {'Qt. A': 'Qt_A','Qt. I': 'Qt_I'}, inplace=True)
ST.to_pickle("Statistiche_giocatori.pkl")
ST

,Id,R,Nome,Squadra,Pg,Mv,Mf,Gf,Gs,Rp,...,Au,Qt_A,Qt_I,Diff.,Classe,Eta',Nome Completo,Nazionalit'a,Nome Squadra,Allenatore
0,2610,A,RONALDO,Juventus,24,6.44,9.23,18,0,0,...,0,48,48,0,05/02/1985,36,Cristiano Ronaldo,Portogallo,AS 800A,enzo
1,2531,A,LUKAKU,Inter,26,6.64,9.08,14,0,0,...,0,47,42,5,13/03/1993,28,Lukaku Romelu,"Belgio, Repubblica Democratica del Congo",SOROS FC,musci8
2,507,A,MURIEL,Atalanta,26,6.78,9.17,15,0,0,...,0,42,27,15,16/04/1991,30,Muriel Luis,Colombia,PDG 1908,pietro
3,2764,A,MARTINEZ L.,Inter,27,6.56,8.24,14,0,0,...,0,37,30,7,22/08/1997,24,Martinez Lautaro,Argentina,MAINZ NA GIOIA,franky
4,409,A,INSIGNE,Napoli,24,6.48,8.19,8,0,0,...,0,36,23,13,04/06/1991,30,Insigne Lorenzo,Italia,XYZ,luca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,5297,A,LUVUMBO,Cagliari,0,0.00,0.00,0,0,0,...,0,1,2,-1,09/03/2002,19,Luvumbo Zito,Angola,svincolato,None
545,4938,A,MORO,Lazio,0,0.00,0.00,0,0,0,...,0,1,1,0,05/12/2002,19,Moro Raul,Spagna,svincolato,None
546,5352,A,DI SERIO,Benevento,12,5.75,5.75,0,0,0,...,0,1,1,0,20/07/2001,20,Di Serio Giuseppe,Italia,svincolato,None
547,5361,A,RABBI,Bologna,4,0.00,0.00,0,0,0,...,0,1,1,0,30/10/2001,20,Rabbi Simone,Italia,svincolato,None
548,5060,A,AKE' M.,Juventus,0,0.00,0.00,0,0,0,...,0,1,1,0,05/01/2001,20,Akè Marley,"Francia, Costa d'Avorio",svincolato,None