In [1]:
from utilities_IGNOBEL import *

In [5]:
#infortunati() #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [2]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
V = voti_panchina(giornata=1) 
V
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Voti Panchinari,27.25,35.25,38.5,28.5,27.75,49.25,45.0,25.0

In [3]:
G = goal_subiti(giornata=1)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Goal subiti,2,2,3,1,1,2,3,0

In [4]:
M = modificatore(giornata=1) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Modificatore,1,0,1,0,0,1,0,0

In [5]:
C = cartellini(giornata=1)
C

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
C. gialli,2,1,1,2,1,1,3,4
C. rossi,0,0,0,0,0,0,0,1

In [6]:
CI = count_inf(infortunati(), rose()) #restituisce il numero di infortunati in ogni rosa
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,7,3,3,1,3,5,4,4

In [2]:
tot=IGNOBEL_tot(giornata=1)
tot

,tot Infortunati,Voti Panchinari,Goal subiti,Modificatore,C. gialli,C. rossi
XYZ,7,25.00,0,0,4,1
MAINZ NA GIOIA,3,27.75,1,0,1,0
I DISEREDATI,3,45.00,3,0,3,0
PALLA PAZZA,1,49.25,2,1,1,0
AS 800A,3,27.25,2,1,2,0
PDG 1908,5,35.25,2,0,1,0
SOROS FC,4,28.50,1,0,2,0
IGNORANZA EVERYWHERE,4,38.50,3,1,1,0

In [3]:
tot.to_pickle("Dati_storici/Giornata_1.pkl")

In [4]:
G1 = pd.read_pickle("Dati_storici/Giornata_1.pkl")
G1

,tot Infortunati,Voti Panchinari,Goal subiti,Modificatore,C. gialli,C. rossi
XYZ,7,25.00,0,0,4,1
MAINZ NA GIOIA,3,27.75,1,0,1,0
I DISEREDATI,3,45.00,3,0,3,0
PALLA PAZZA,1,49.25,2,1,1,0
AS 800A,3,27.25,2,1,2,0
PDG 1908,5,35.25,2,0,1,0
SOROS FC,4,28.50,1,0,2,0
IGNORANZA EVERYWHERE,4,38.50,3,1,1,0

In [3]:
G1.to_csv("Dati_storici/Giornata_1.csv")

In [3]:
voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [8]:
G1.iloc[0]

tot Infortunati     7.0
Voti Panchinari    25.0
Goal subiti         0.0
Modificatore        0.0
C. gialli           4.0
C. rossi            1.0
Name: XYZ, dtype: float64