In [1]:
from utilities_IGNOBEL import *

In [5]:
#infortunati() #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [5]:
CI = count_inf(infortunati(), rose()) #restituisce il numero di infortunati in ogni rosa
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,7,6,3,1,4,5,4,4

In [4]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
V = voti_panchina() 
V
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,AS 800A,PDG 1908,Ignoranza Everywhere,soros fc,Mainz na gioia,Palla Pazza,I Diseredati,XYZ
Voti Panchinari,37.25,43.0,48.5,28.5,22.25,47.75,43.0,29.75

In [3]:
G = goal_subiti()
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,AS 800A,PDG 1908,Ignoranza Everywhere,soros fc,Mainz na gioia,Palla Pazza,I Diseredati,XYZ
Goal subiti,2,2,0,1,1,2,3,0

In [ ]:
#M = modificatore() 
#M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

In [2]:
C = cartellini()
C

,AS 800A,PDG 1908,Ignoranza Everywhere,soros fc,Mainz na gioia,Palla Pazza,I Diseredati,XYZ
C. gialli,2,1,1,2,1,1,3,3
C. rossi,0,0,0,0,0,0,0,1

In [7]:
CI.columns = C.columns #temporaneo, solo per avere gli stessi header
pd.concat([CI,V,G,C], axis = 0) #I da aggiungere quando sara' per la nostra lega

,AS 800A,PDG 1908,Ignoranza Everywhere,soros fc,Mainz na gioia,Palla Pazza,I Diseredati,XYZ
tot Infortunati,7.00,6.0,3.0,1.0,4.00,5.00,4.0,4.00
Voti Panchinari,37.25,43.0,48.5,28.5,22.25,47.75,43.0,29.75
Goal subiti,2.00,2.0,0.0,1.0,1.00,2.00,3.0,0.00
C. gialli,2.00,1.0,1.0,2.0,1.00,1.00,3.0,3.00
C. rossi,0.00,0.0,0.0,0.0,0.00,0.00,0.0,1.00

In [3]:
voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it