In [1]:
from utilities_IGNOBEL import *

In [5]:
#infortunati() #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [12]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
B = bonus_panchina(giornata=2) 
B
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

In [7]:
G = goal_subiti(giornata=1)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Goal subiti,2,2,3,1,1,2,3,0

In [8]:
M = modificatore(giornata=1) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Modificatore,1,0,1,0,0,1,0,0

In [9]:
C = cartellini(giornata=1)
C

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
C. gialli,2,1,1,2,1,1,3,4
C. rossi,0,0,0,0,0,0,0,1

In [10]:
CI = count_inf(infortunati(), rose()) #restituisce il numero di infortunati in ogni rosa
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,5,3,0,2,3,5,3,3

In [2]:
tot = IGNOBEL_tot(giornata=1)
tot

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Fantapunti Fatti,75.5,68.50,79.00,65.75,70.75,71.75,67.50,72.25
Fantapunti Subiti,68.5,75.50,65.75,79.00,71.75,70.75,72.25,67.50
Goal subiti,2.0,2.00,3.00,1.00,1.00,2.00,3.00,0.00
C. gialli,2.0,1.00,1.00,2.00,1.00,1.00,3.00,4.00
C. rossi,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1.00
Bonus Panchinari,1.5,1.75,0.00,0.50,0.75,3.00,1.75,0.00
Modificatore,1.0,0.00,1.00,0.00,0.00,1.00,0.00,0.00
tot Infortunati,3.0,5.00,3.00,3.00,3.00,2.00,0.00,5.00

In [33]:
#tot.to_pickle("Dati_storici/Giornata_1.pkl")

In [2]:
G1 = pd.read_pickle("Dati_storici/Giornata_1.pkl")
#G1.to_csv("Dati_storici/Giornata_1.csv")
G1

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Fantapunti Fatti,75.5,68.50,79.00,65.75,70.75,71.75,67.50,72.25
Fantapunti Subiti,68.5,75.50,65.75,79.00,71.75,70.75,72.25,67.50
Goal subiti,2.0,2.00,3.00,1.00,1.00,2.00,3.00,0.00
C. gialli,2.0,1.00,1.00,2.00,1.00,1.00,3.00,4.00
C. rossi,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1.00
Bonus Panchinari,1.5,1.75,0.00,0.50,0.75,3.00,1.75,0.00
Modificatore,1.0,0.00,1.00,0.00,0.00,1.00,0.00,0.00
tot Infortunati,3.0,5.00,4.00,4.00,3.00,1.00,3.00,7.00

In [3]:
voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [3]:
storico_individuale(nome = 'luca', giornata = 1) 
#crea un dataframe individuale con le informazioni utili per gli IGNOBEL, con i dati fino alla giornata scelta
#i dati vengono pescati dai pkl contenuti nella cartella Dati_storici

0 gg     pf    ps gs  c pan mod inf  nome
1  1  72.25  67.5  0  6   0   0   7  luca

In [22]:
#crea 8 dataframe individuali con i dati aggiornati fino alla giornata indicata
aggiorna_database(giornata=1)

Dati aggiornati fino alla 1 giornata