In [1]:
from utilities_IGNOBEL import *

In [4]:
#infortunati(giornata=1) #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A per la giornata indicata

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [2]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
B = bonus_panchina(giornata=2) 
B
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Bonus Panchinari,0,1.75,0,0,0.75,3.5,0.75,1.5

In [3]:
G = goal_subiti(giornata=2)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Goal subiti,2,3,2,1,3,1,1,0

In [2]:
M = modificatore(giornata=2) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Modificatore,0,1.5,0,0,1.0,1.0,0,0.5

In [3]:
C = cartellini(giornata=2)
C

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
C. gialli,3,1,1,3,1,1,2,3
C. rossi,0,0,0,0,0,0,0,0

In [6]:
CI = count_inf(infortunati(giornata = 2), rose()) #restituisce il numero di infortunati in ogni rosa
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,5,4,0,2,4,5,2,3

In [3]:
tot = IGNOBEL_tot(giornata=3) # a causa di ritardi di connessione, potrebbe dare errore le prime volte: in tal caso far girare nuovamente
tot

,IGNORANZA EVERYWHERE,XYZ,MAINZ NA GIOIA,PDG 1908,I DISEREDATI,AS 800A,PALLA PAZZA,SOROS FC
Fantapunti Fatti,70.5,73.50,69.50,75.75,65.5,73.50,69.75,65.25
Fantapunti Subiti,73.5,70.50,75.75,69.50,73.5,65.50,65.25,69.75
Goal subiti,3.0,1.00,1.00,3.00,1.0,2.00,0.00,2.00
C. gialli,4.0,2.00,1.00,1.00,0.0,2.00,2.00,3.00
C. rossi,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Bonus Panchinari,2.0,1.75,1.25,0.00,3.0,2.25,3.25,0.50
Modificatore,1.0,0.00,0.00,0.00,0.5,1.00,0.00,0.00
tot Infortunati,4.0,3.00,3.00,6.00,2.0,1.00,3.00,2.00

In [4]:
tot.to_pickle("Dati_storici/Giornata_3.pkl")

In [5]:
G3 = pd.read_pickle("Dati_storici/Giornata_3.pkl")
#G2.to_csv("Dati_storici/Giornata_2.csv")
G3

,IGNORANZA EVERYWHERE,XYZ,MAINZ NA GIOIA,PDG 1908,I DISEREDATI,AS 800A,PALLA PAZZA,SOROS FC
Fantapunti Fatti,70.5,73.50,69.50,75.75,65.5,73.50,69.75,65.25
Fantapunti Subiti,73.5,70.50,75.75,69.50,73.5,65.50,65.25,69.75
Goal subiti,3.0,1.00,1.00,3.00,1.0,2.00,0.00,2.00
C. gialli,4.0,2.00,1.00,1.00,0.0,2.00,2.00,3.00
C. rossi,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Bonus Panchinari,2.0,1.75,1.25,0.00,3.0,2.25,3.25,0.50
Modificatore,1.0,0.00,0.00,0.00,0.5,1.00,0.00,0.00
tot Infortunati,4.0,3.00,3.00,6.00,2.0,1.00,3.00,2.00

In [3]:
#voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [7]:
storico_individuale(nome = 'emiliano', giornata = 3) 
#crea un dataframe individuale con le informazioni utili per gli IGNOBEL, con i dati fino alla giornata scelta
#i dati vengono pescati dai pkl contenuti nella cartella Dati_storici

0 gg     pf     ps gs  c   pan  mod inf      nome
1  1   67.5  72.25  3  3  1.75    0   3  emiliano
2  2  70.25     73  3  1  1.75  1.5   0  emiliano
3  3   65.5   73.5  1  0     3  0.5   2  emiliano

In [9]:
#crea 8 dataframe individuali con i dati aggiornati fino alla giornata indicata
aggiorna_database(giornata = 2)

Dati aggiornati fino alla 2 giornata

In [2]:
#scarica le statistiche di ogni giocatori e li incrocia con le rose nel database FPF per associarli ad ogni squadra nella lega
ST = stats_by_team(primavera = True, personal = False)
ST

,Id,R,Nome,Squadra,Pg,Mv,Mf,Gf,Gs,Rp,...,Ass,Asf,Amm,Esp,Au,Qt. A,Qt. I,Diff.,Nome Squadra,Allenatore
0,2792,P,MUSSO,Udinese,4,5.88,4.38,0,6,0,...,0,0,0,0,0,10,11,-1,PDG 1908,pietro
1,1917,P,DRAGOWSKI,Fiorentina,6,6.25,4.25,0,12,0,...,0,0,0,0,0,10,12,-2,PDG 1908,pietro
2,4957,P,MONTIPO',Benevento,5,5.60,2.80,0,14,0,...,0,0,0,0,0,6,7,-1,PDG 1908,pietro
3,1852,D,SPINAZZOLA,Roma,6,6.42,6.92,1,0,0,...,0,0,0,0,0,11,10,1,PDG 1908,pietro
4,798,D,SKRINIAR,Inter,2,6.00,6.00,0,0,0,...,0,0,0,0,0,7,8,-1,PDG 1908,pietro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2195,A,OUNAS,Cagliari,3,6.25,6.25,0,0,0,...,0,0,0,0,0,5,5,0,IGNORANZA EVERYWHERE - PRIMAVERA,mario
268,4324,A,OKAKA,Udinese,6,5.83,6.92,2,0,0,...,1,0,1,0,0,16,15,1,IGNORANZA EVERYWHERE - PRIMAVERA,mario
269,475,A,IAGO FALQUE,Benevento,2,5.25,5.25,0,0,0,...,0,0,0,0,0,12,14,-2,IGNORANZA EVERYWHERE - PRIMAVERA,mario
270,2155,A,CUTRONE,Fiorentina,6,5.67,5.67,0,0,0,...,0,0,0,0,0,11,12,-1,IGNORANZA EVERYWHERE - PRIMAVERA,mario
271,1958,A,CAPRARI,Benevento,5,6.20,8.10,3,0,0,...,0,1,1,0,0,14,11,3,IGNORANZA EVERYWHERE - PRIMAVERA,mario