In [1]:
from utilities_IGNOBEL import *

In [12]:
"""Usare queste rose se FG non ha quelle corrette, e.g. durante il mercato"""
#RoseSS = rose_complete()

#RoseFG = rose()

#labels = RoseFG.columns
#Rose = RoseSS[labels]

In [4]:
#infortunati(giornata=1) #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A per la giornata indicata

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [14]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
V = bonus_panchina(giornata=7) 
V
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Bonus Panchinari,0,0,1.5,3.0,0,1.5,0,2.0

In [15]:
G = goal_subiti(giornata=7)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Goal subiti,1,1,1,1,0,4,0,1

In [16]:
M = modificatore(giornata=7) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Modificatore,1.0,0,0,1.0,1.0,0.5,0,0

In [17]:
C = cartellini(giornata=7)
C

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
C. gialli,2,1,1,3,1,0,0,1
C. rossi,0,1,0,0,0,0,0,0

In [18]:
CI = count_inf(infortunati(giornata = 7), rose()) #restituisce il numero di infortunati in ogni rosa
##NOTA: usa Rose definito sopra nel caso in cui FG non ha le rose corrette e quindi serve usare lo spreadsheet
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,4,6,5,6,5,1,2,6

In [19]:
F = fantapunti_fatti(giornata=7)

In [20]:
S = fantapunti_subiti(giornata=7)

In [21]:
#tot = IGNOBEL_tot(giornata=6) # a causa di ritardi di connessione, potrebbe dare errore le prime volte: in tal caso far girare nuovamente
output = pd.concat([F,S,G,C,V,M,CI], axis = 0).T #enormi problemi di connessione, quindi ho dovuto dividere in singole tasks
tot = output.T
tot

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Fantapunti Fatti,66.50,69.75,69.00,67.25,75.00,66.75,69.50,69.25
Fantapunti Subiti,69.75,66.50,67.25,69.00,66.75,75.00,69.25,69.50
Goal subiti,1.00,1.00,1.00,1.00,0.00,4.00,0.00,1.00
C. gialli,2.00,1.00,1.00,3.00,1.00,0.00,0.00,1.00
C. rossi,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,0.00,1.50,3.00,0.00,1.50,0.00,2.00
Modificatore,1.00,0.00,0.00,1.00,1.00,0.50,0.00,0.00
tot Infortunati,6.00,6.00,4.00,5.00,6.00,5.00,2.00,1.00

In [3]:
tot = IGNOBEL_tot(giornata=7)
tot

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Fantapunti Fatti,66.50,69.75,69.00,67.25,75.00,66.75,69.50,69.25
Fantapunti Subiti,69.75,66.50,67.25,69.00,66.75,75.00,69.25,69.50
Goal subiti,1.00,1.00,1.00,1.00,0.00,4.00,0.00,1.00
C. gialli,2.00,1.00,1.00,3.00,1.00,0.00,0.00,1.00
C. rossi,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,0.00,1.50,3.00,0.00,1.50,0.00,2.00
Modificatore,1.00,0.00,0.00,1.00,1.00,0.50,0.00,0.00
tot Infortunati,20.00,6.00,4.00,6.00,7.00,4.00,2.00,2.00

In [22]:
#tot.to_pickle("Dati_storici/Giornata_7.pkl")

In [23]:
G7 = pd.read_pickle("Dati_storici/Giornata_7.pkl")
G7

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Fantapunti Fatti,66.50,69.75,69.00,67.25,75.00,66.75,69.50,69.25
Fantapunti Subiti,69.75,66.50,67.25,69.00,66.75,75.00,69.25,69.50
Goal subiti,1.00,1.00,1.00,1.00,0.00,4.00,0.00,1.00
C. gialli,2.00,1.00,1.00,3.00,1.00,0.00,0.00,1.00
C. rossi,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,0.00,1.50,3.00,0.00,1.50,0.00,2.00
Modificatore,1.00,0.00,0.00,1.00,1.00,0.50,0.00,0.00
tot Infortunati,6.00,6.00,4.00,5.00,6.00,5.00,2.00,1.00

In [3]:
#voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [24]:
storico_individuale(nome = 'luca', giornata = 7) 
#crea un dataframe individuale con le informazioni utili per gli IGNOBEL, con i dati fino alla giornata scelta
#i dati vengono pescati dai pkl contenuti nella cartella Dati_storici

0 gg     pf     ps gs  c   pan  mod inf  nome
1  1  72.25   67.5  0  6     0    0   7  luca
2  2     77  64.25  2  1     0    0   5  luca
3  3   73.5   70.5  1  2  1.75    0   3  luca
4  4     65     65  0  2     3  0.5   4  luca
5  5     66  67.25  2  2     0    0   4  luca
6  6  70.25     71  1  2   1.5  0.5   5  luca
7  7     69  67.25  1  1   1.5    0   4  luca

In [25]:
#crea 8 dataframe individuali con i dati aggiornati fino alla giornata indicata
aggiorna_database(giornata = 7)

Dati aggiornati fino alla 7 giornata

In [11]:
#scarica le statistiche di ogni giocatori e li incrocia con le rose nel database FPF per associarli ad ogni squadra nella lega
ST = stats_by_team(primavera = True, personal = False)
#ST.to_pickle("Statistiche_giocatori.pkl")
ST

,Id,R,Nome,Squadra,Pg,Mv,Mf,Gf,Gs,Rp,...,Ass,Asf,Amm,Esp,Au,Qt. A,Qt. I,Diff.,Nome Squadra,Allenatore
0,2792,P,MUSSO,Udinese,4,5.88,4.38,0,6,0,...,0,0,0,0,0,10,11,-1,PDG 1908,pietro
1,1917,P,DRAGOWSKI,Fiorentina,6,6.25,4.25,0,12,0,...,0,0,0,0,0,10,12,-2,PDG 1908,pietro
2,4957,P,MONTIPO',Benevento,5,5.60,2.80,0,14,0,...,0,0,0,0,0,6,7,-1,PDG 1908,pietro
3,1852,D,SPINAZZOLA,Roma,6,6.42,6.92,1,0,0,...,0,0,0,0,0,11,10,1,PDG 1908,pietro
4,798,D,SKRINIAR,Inter,2,6.00,6.00,0,0,0,...,0,0,0,0,0,7,8,-1,PDG 1908,pietro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2195,A,OUNAS,Cagliari,3,6.25,6.25,0,0,0,...,0,0,0,0,0,5,5,0,IGNORANZA EVERYWHERE - PRIMAVERA,mario
268,4324,A,OKAKA,Udinese,6,5.83,6.92,2,0,0,...,1,0,1,0,0,16,15,1,IGNORANZA EVERYWHERE - PRIMAVERA,mario
269,475,A,IAGO FALQUE,Benevento,2,5.25,5.25,0,0,0,...,0,0,0,0,0,12,14,-2,IGNORANZA EVERYWHERE - PRIMAVERA,mario
270,2155,A,CUTRONE,Fiorentina,6,5.67,5.67,0,0,0,...,0,0,0,0,0,11,12,-1,IGNORANZA EVERYWHERE - PRIMAVERA,mario
271,1958,A,CAPRARI,Benevento,5,6.20,8.10,3,0,0,...,0,1,1,0,0,14,11,3,IGNORANZA EVERYWHERE - PRIMAVERA,mario