In [2]:
from utilities_IGNOBEL import *

In [5]:
#infortunati() #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [2]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
V = voti_panchina(giornata=1) 
V
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Voti Panchinari,27.25,35.25,38.5,28.5,27.75,49.25,45.0,25.0

In [3]:
G = goal_subiti(giornata=1)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Goal subiti,2,2,3,1,1,2,3,0

In [4]:
M = modificatore(giornata=1) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Modificatore,1,0,1,0,0,1,0,0

In [5]:
C = cartellini(giornata=1)
C

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
C. gialli,2,1,1,2,1,1,3,4
C. rossi,0,0,0,0,0,0,0,1

In [2]:
CI = count_inf(infortunati(), rose()) #restituisce il numero di infortunati in ogni rosa
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,7,3,3,1,3,5,4,4

In [4]:
tot=IGNOBEL_tot(giornata=1)
tot

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Fantapunti Fatti,75.5,68.5,79,65.75,70.75,71.75,67.5,72.25
Fantapunti Subiti,68.5,75.5,65.75,79,71.75,70.75,72.25,67.5
Goal subiti,2,2,3,1,1,2,3,0
C. gialli,2,1,1,2,1,1,3,4
C. rossi,0,0,0,0,0,0,0,1
Voti Panchinari,27.25,35.25,38.5,28.5,27.75,49.25,45,25
Modificatore,1,0,1,0,0,1,0,0
tot Infortunati,3,5,4,4,3,1,3,7

In [5]:
#tot.to_pickle("Dati_storici/Giornata_01.pkl")

In [3]:
G1 = pd.read_pickle("Dati_storici/Giornata_01.pkl")
#G1.to_csv("Dati_storici/Giornata_01.csv")
G1

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Fantapunti Fatti,75.5,68.5,79,65.75,70.75,71.75,67.5,72.25
Fantapunti Subiti,68.5,75.5,65.75,79,71.75,70.75,72.25,67.5
Goal subiti,2,2,3,1,1,2,3,0
C. gialli,2,1,1,2,1,1,3,4
C. rossi,0,0,0,0,0,0,0,1
Voti Panchinari,27.25,35.25,38.5,28.5,27.75,49.25,45,25
Modificatore,1,0,1,0,0,1,0,0
tot Infortunati,3,5,4,4,3,1,3,7

In [4]:
list(G1.keys())

['AS 800A',
 'PDG 1908',
 'IGNORANZA EVERYWHERE',
 'SOROS FC',
 'MAINZ NA GIOIA',
 'PALLA PAZZA',
 'I DISEREDATI',
 'XYZ']

In [3]:
voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it