In [1]:
import numpy as np
import pandas as pd
from Utilities_fantapalla import main_model, names

quotazioni = pd.read_csv ('Quotazioni_Fantacalcio.csv')
path_voti = 'Voti_giornate/'

In [5]:
struttura_rosa = np.array([3, 8, 8, 6])
#this must contain all the allowed schemes

formazioni = {
    '352': [1, 3, 5, 2],
    '343': [1, 3, 4, 3],
    '442': [1, 4, 4, 2],
    '541': [1, 5, 4, 1],
    '532': [1, 5, 3, 2],
    '433': [1, 4, 3, 3]
    #aggiungere tutte le altre formazioni
}
fasce_goal = np.array([66,  70,  84,  88,  92,  96, 100])
fasce_modificatore = np.array([6. , 6.5, 7. , 7.5, 8. ])
valori_modificatore = np.array([1, 3, 5, 6, 8])
rows_to_skip=[0,1,2,3,4]

N_squadre = 10

[teams, team_names] = names(N_squadre)
team_names

['Team 1',
 'Team 2',
 'Team 3',
 'Team 4',
 'Team 5',
 'Team 6',
 'Team 7',
 'Team 8',
 'Team 9',
 'Team 10']

In [6]:
rose_best, classifica_best, classifica_q_best = main_model(1, struttura_rosa, team_names, teams, quotazioni, path_voti, N_squadre, valori_modificatore, fasce_modificatore, fasce_goal)

In [7]:
classifica_best

         tot
Team 1    79
Team 2    50
Team 3    51
Team 4    36
Team 5    50
Team 6    53
Team 7    64
Team 8    35
Team 9    56
Team 10   12